# Database
DATABASE_URL="mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000"

# Auth
BETTER_AUTH_SECRET=your_secret_key_here
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000/api/auth
